.highlight-clean {
  color: #313437;
  background-color: #fff;
  padding: 50px 0;
}

.highlight-clean p {
  color: #7d8285;
}

.highlight-clean h2 {
  font-weight: bold;
  margin-bottom: 25px;
  line-height: 1.5;
  padding-top: 0;
  margin-top: 0;
  color: inherit;
}

.highlight-clean .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 25px;
}

.highlight-clean .buttons {
  text-align: center;
}

.highlight-clean .buttons .btn {
  padding: 16px 32px;
  margin: 6px;
  border: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
  opacity: 0.90;
  /*text-transform: uppercase;*/
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.4px;
  line-height: 1;
  outline: none;
  background-color: #ddd;
}

.highlight-clean .buttons .btn:hover {
  opacity: 1;
}

.highlight-clean .buttons .btn:active {
  transform: translateY(1px);
}

.highlight-clean .buttons .btn-primary {
  background-color: #055ada;
  color: #fff;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  padding-bottom: 50px;
}

.hover-img {
    position: relative;
    overflow: hidden;
}

.hover-img img {
    width: 100%;
    transition: opacity 0.3s ease-in-out;
}

/* second image hidden by default */
.hover-img .hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

/* on hover, show second image */
.hover-img:hover .hover {
    opacity: 1;
}

.hover-img:hover .main {
    opacity: 0;
}

/* Text overlay */
.img-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: 600;
  background: rgba(0,0,0,0.5);
  padding: 6px 10px;
  border-radius: 8px;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.img-title span {
  display: block;
  font-size: 11px;
  font-weight: normal;
  opacity: 0.8;
}

.hide-hint .img-title {
    display: none;
}
